.mainContainer {
  margin-top: 3.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
.firstContainer {
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.firstContainerM {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.firstConTxtBox {
  display: flex;
  flex-direction: column;
}

.firConTitle {
  font-family: "Inter_black";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 78px;
  /* or 140% */
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 50px;
}

.firConTitleM {
  composes: firConTitle;
  font-size: 45px;
  line-height: 65px;
}

.fristConText {
  font-family: "Inter_regular";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  word-break: keep-all;
  /* or 156% */
  color: #000000;
  /* Inside auto layout */

  margin-bottom: 40px;
}

.fristConTextM {
  composes: fristConText;
  width: 80vw;
}

.gofunding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;

  /* Black */

  background: #000000;
  border-radius: 32px;

  /* Inside auto layout */

  width: 60px;
  height: 24px;

  font-family: "Inter_semibold";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  /* Anti-Flash White */

  color: #f3f3f3;

  /* Inside auto layout */

  cursor: pointer;
}

.phoneImg {
  width: 644px;
  height: 746px;
  margin-bottom: -60px;
}

.phoneImgM {
  width: 60vw;
}

/* -------------------------------------------------------------------------- */
.secondContainer {
  width: 100vw;
  height: 601px;

  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.secondContainerM {
  width: 100vw;
  height: 100%;
  margin: 50px 0 0 0;
  padding: 50px 0 50px 0;
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forBackgroudContainer {
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forBackgroudContainerM {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.secondConBox {
  width: 380px;
  height: 481px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.secondConBoxM {
  height: 100%;
  width: 80vw;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.secondConSymbole {
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 40px;
  margin-right: 1rem;
}

.secondConSymboleM {
  width: 26px;
  height: 26px;
  background: #000000;
  border-radius: 26px;
  margin-right: 1rem;
}

.secondConTextBox {
  display: flex;
  flex-direction: row;
}
.secondConTitle {
  font-family: "Inter_black";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;

  color: #000000;
}
.secondConText {
  margin-left: 40px;
  font-family: "Inter_semibold";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-indent: -22px;
  list-style-position: inside;
  color: #000000;
  margin-top: 10px;
  word-break: keep-all;
}

/* -------------------------------------------------------------------------- */
.thirdContainer {
  width: 100vw;
  height: 620px;
  /* Black */
  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000;
}

.thirdContainerM {
  width: 100vw;
  height: 100%;
  /* Black */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
  background: #000000;
}

.graphimg {
  width: 585px;
  height: 406px;
  margin-right: 70px;
  margin-bottom: -80px;
}

.graphimgM {
  width: 60vw;
  margin-bottom: 70px;
}
.thirdTextBox {
  display: flex;
  flex-direction: column;
}
.thirdTBTitle {
  font-family: "Inter_semibold";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.1px;

  color: #ffffff;
  margin-bottom: 50px;
}
.thirdTBTitleM {
  composes: thirdTBTitle;
  font-family: "Inter_black";
  font-size: 20px;
  line-height: 27px;
}

.thirdTBText {
  font-family: "Inter_semibold";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.1px;

  color: #ffffff;
}

.thirdTBTextM {
  composes: thirdTBText;
  width: 80vw;
}
/* -------------------------------------------------------------------------- */
.forthContainer {
  width: 1440px;
  height: 993px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forthContainerM {
  width: 100vw;
  height: 100%;
  padding-top: 70px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forthConTitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.forthTitle {
  font-family: "Inter_black";
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 20px;
  text-align: center;
  color: #18191f;
}
.forthTitleM {
  composes: forthTitle;
  font-size: 36px;
  line-height: 46px;
}

.forthText {
  font-family: "Inter_semibold";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #18191f;
}

.forthTextM {
  composes: forthText;
  width: 80vw;
  font-size: 14px;
  line-height: 21px;
}

.forthContentsContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.forthContentsBox {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.forthContentsSymbol {
  heigth: 100px;
  margin-bottom: 25px;
}

.forthContentsSymbolM {
  heigth: 70px;
  margin-bottom: 20px;
}

.forthContentsTxt {
  font-family: "Inter_semibold";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;
  font-feature-settings: "salt" on, "liga" off;

  color: #000000;
}

.forthContentsTxtM {
  composes: forthContentsTxt;
  font-size: 14px;
  line-height: 21px;
}
/* -------------------------------------------------------------------------- */
.fifthContainer {
  width: 100vw;
  height: 896px;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthContainerM {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer {
  width: 1093px;
  height: 663px;
}

.customerM {
  width: 80vw;
  padding: 100px 10vw 100px 10vw;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
.sixthContainer {
  width: 1440px;
  height: 834px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sixthContainerM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadmap {
  width: 1109.5px;
  height: 597px;
}

.roadmapM {
  width: 80vw;
  height: 100%;
  padding: 100px 10vw 100px 10vw;
}

/* -------------------------------------------------------------------------- */

.sevenContainer {
  width: 1440px;
  height: 834px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sevenContainerM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.sevenConTitle {
  width: 1110px;
  height: 64px;
  margin-bottom: 70px;
  font-family: "Inter_black";
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: left;
  color: #18191f;
}

.sevenConTitleM {
  margin-bottom: 70px;
  font-family: "Inter_black";
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;
  text-align: left;
  color: #18191f;
  width: 80vw;
}

.memberBoxContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 1440px;
  align-items: center;
  justify-content: center;
}

.memberBoxContainerM {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.memberBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 15px 25px 15px;
  width: 330px;
  height: 176px;

  background: #f3f3f3;
  border-radius: 8px;
  padding: 0 0 0 20px;
}
.profileimg {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  border-radius: 32px;
  object-fit: cover;
}
.name {
  font-family: "Inter_semibold";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.memberBoxSubCon {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}
.postion {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}
.logoCon {
  display: flex;
  flex-direction: row;
  width: 48px;
  justify-content: space-between;
}
.snsLogo {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
