.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3.7rem;
}

.banner {
  width: 100vw;
  height: 450px;
  margin: 0 0 1rem 0;
}

.bannerImg {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.blur {
  position: absolute;
  top: 3.7rem;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.048),
    rgba(0, 0, 0, 0.747)
  );
  width: 100%;
  height: 450px;
}

.bannerTxt {
  position: absolute;
  font-family: "Inter_black";
  font-size: 3rem;
  top: 26rem;
  left: 2vw;
  color: white;
}

.colorBar {
  color: #86cddd;
  margin: 0 0.7rem 0 0;
}

/* ---------------------- filter -------------------- */
.fillterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: "Inter_semibold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-right: 30px;
  margin-bottom: 15px;
}

.sportFillterContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.sportFillterTxt {
  width: 69px;
  height: 22px;

  background: #cdcdcd;
  border-radius: 20px;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 20px;
}

.active {
  background: #96cbdb;
}

.basicFillterContainer {
  display: flex;
  flex-direction: row;
}
.basicFillterTxt {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-left: 30px;
  color: #000000;
  cursor: pointer;
}

/* -------------------- card ---------------------------- */
.cardBox {
  width: 264px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  border-radius: 15px;
  margin: 0 30px 30px 0;
}

.cardBoxM {
  composes: cardBox;
  width: 75vw;
  height: 100%;
  padding: 15px;
}

.card {
  margin: 0;
}

.cardContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  margin-bottom: 100px;
}

/* mobile */
.mainContainerM {
  composes: mainContainer;
  /* margin-left: 2vw; */
  align-items: center;
  overflow: hidden;
}

.fillterContainerM {
  composes: fillterContainer;
  width: 80vw;
  flex-direction: column;
}

.subContainerM {
  composes: subContainer;
  align-items: left;
  flex-direction: column;
  margin-bottom: 1rem;
}

.basicFillterTxtM {
  composes: basicFillterTxt;
  margin-left: 0;
  margin-right: 20px;
}

.cardContainerM {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basicFillterContainerM {
  composes: basicFillterContainer;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
