.mainContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSubContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

/* -------------------- left container -------------------------- */

.img {
  width: 649px;
  height: 429px;
}

.barContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.blueBar {
  position: relative;
  width: 409px;
  height: 22px;

  background: #96cbdb;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  margin: -22px 0 2vw 0;
}
.yellowBar {
  width: 649px;
  height: 22px;

  background: #ffe995;
}
.txtContainer1 {
  padding: 0 10px 0 10px;
  width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.barTxt {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: black;
  margin-bottom: 5px;
}

.barTxt1 {
  composes: barTxt;
  color: #96cbdb;
}

.barTxt2 {
  composes: barTxt;
  color: #ffe995;
}

.selectContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.storyBtn {
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 40px;
  cursor: pointer;
  color: #8d9396;
}

.storyBtnClicked {
  composes: storyBtn;

  color: #000000;
}

.contentsContainer {
  margin-top: px;
}
.contentsHead1 {
  word-break: keep-all;
  width: 644px;
  margin-top: 25px;
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #000000;
}

.contentsTxt {
  word-break: keep-all;
  width: 638px;
  margin-top: 23px;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #000000;
}

.sponsorContainer {
  display: flex;
  flex-direction: column;
  width: 649px;
}
.sponsorCard {
  width: 643px;
  height: 68px;

  background: #ffffff;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  border-radius: 15px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sponsorCardSubContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.nickname {
  width: 109px;
  height: 24px;

  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.nftsBuy {
  width: 72px;
  height: 15px;

  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-right: 20px;
  color: #6a6a6a;
}
.sponPrice {
  width: 98px;
  height: 24px;
  left: 584px;
  top: 722px;

  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #96cbdb;
}

/* -------------------- right container -------------------------- */

.rightContainer {
  margin-left: 40px;
}
.title {
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 12px;
  color: #000000;
}
.teams {
  font-family: "Inter_regular";
  font-weight: 450;
  font-size: 14px;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #434343;
}
.introTxt {
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
  width: 400px;
  color: #646464;
}

.achieveTxt {
  font-family: "Inter_regular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  color: #008db8;
}
.achieveTxt2 {
  composes: achieveTxt;
  font-size: 17px;
  line-height: 21px;
}

.totalPrice {
  font-family: "Inter_regular";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
.totalPrice2 {
  composes: totalPrice;
  font-size: 17px;
  line-height: 21px;
}

.bottomContainer {
  margin-top: 100px;
}

.bottomTitle {
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
  color: #000000;
}
.nftCard {
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 155px;
  margin-bottom: 15px;

  background: #ffffff;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  border-radius: 15px;
}
.cardImg {
  width: 187px;
  height: 127px;
  object-fit: cover;
  border-radius: 10px;
}
.txtContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 127px;
}
.nftCardTitle {
  margin-bottom: 5px;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
.nftNum {
  margin-bottom: 8px;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  /* identical to box height */
  color: #929292;
}
.nftPrice {
  margin-bottom: 24px;
  font-family: "Inter_regular";
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #96cbdb;
}
.txtSubContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.remainNum {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  /* identical to box height */
  margin-right: 20px;
  color: #929292;
}
.buyBtn {
  width: 104px;
  height: 25px;
  background: #1fa5c2;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

/* --------- Mobile ----------- */

.mainSubContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.imgMobile {
  width: 85vw;
  object-fit: cover;
}

.yellowBarM {
  composes: yellowBar;
  width: 85vw;
}

.blueBarM {
  composes: blueBar;
  width: 57vw;
}

.txtContainer1M {
  composes: txtContainer1;
  padding: 0;
  width: 85vw;
}

.contentsHead1M {
  composes: contentsHead1;
  width: 85vw;
}

.contentsTxtM {
  composes: contentsTxt;
  width: 85vw;
}

.nftContainerM {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nftCardM {
  padding: 15px 15px 15px 15px;
  composes: nftCard;
  flex-direction: column;
  width: 270px;
  height: 300px;
  margin-right: 20px;
}

.cardImgM {
  composes: cardImg;
  width: 260px;
  height: 230px;
  margin-bottom: 10px;
}

.txtContainerM {
  composes: txtContainer;
  width: 260px;
}

.rightContainerM {
  composes: rightContainer;
  width: 85vw;
  margin-left: 0;
}

.topContainerM {
  margin-top: 30px;
}

.introTxtM {
  composes: introTxt;
  width: 85vw;
}

.MSubContainer {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barContainerM {
  width: 85vw;
  composes: barContainer;
  align-items: left;
}

.section {
  width: 100vw;
  overflow-x: hidden;
  height: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #d9d9d991;
}

.section2 {
  width: 100vw;
  overflow-x: hidden;
  height: 10px;
  margin-left: -8vw;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #d9d9d991;
}

.bottomContainerM {
  width: 85vw;
}

.sponsorContainerM {
  composes: sponsorContainer;
  width: 100vw;
  align-items: center;
}
.sponsorCardM {
  composes: sponsorCard;
  width: 85vw;
}
