.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.7rem;
}

.banner {
  width: 100vw;
  height: 450px;
  margin: 0 0 1rem 0;
}

.bannerImg {
  margin-left: -2vw;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.blur {
  position: absolute;
  top: 3.7rem;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.048),
    rgba(0, 0, 0, 0.747)
  );
  width: 100%;
  height: 450px;
}

.bannerTxt {
  position: absolute;
  font-family: "Inter_black";
  font-size: 2.5rem;
  top: 26rem;
  left: 2vw;
  color: white;
}

.colorBar {
  color: #86cddd;
  margin: 0 0.7rem 0 0;
}

/* ---------------- 선수들 후원하기!!! ---------------- */

.secondContainer {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle {
  width: 100%;
  margin: 0 0 1.5rem 0;
  font-family: "Inter_black";
  font-size: 1.8rem;
}

.cardSubContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.card {
  margin: 0 30px 30px 0;
}

/* ---------------- 실시간 랭킹!!! ---------------- */
.rankingContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.rankingTitle {
  margin: 0 0 1.5rem 0;
  font-family: "Inter_black";
  font-size: 1.8rem;
  cursor: pointer;
}

.rankingSubContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  cursor: pointer;
}

.rankDonateBtn {
  margin-right: 20px;
  font-family: "Inter_semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: lightgray;
}

.rankDonateBtnClicked {
  composes: rankDonateBtn;
  color: #000000;
}

.rankNFTBtn {
  margin-right: 20px;
  font-family: "Inter_semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: lightgray;
}

.rankNFTBtnClicked {
  composes: rankNFTBtn;
  color: #000000;
}

/* ---------------- 품절 임박 NFT!!! ---------------- */

.featureContainer {
  margin: 2rem 0 2rem 0;
  flex-flow: wrap;
}

.featureNFTsContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.featureTitle {
  margin: 0 0 1.5rem 0;
  font-family: "Inter_black";
  font-size: 1.8rem;
}

/* ---------------- 하단 배너!!! ---------------- */

.bottomBannerContainer {
  margin-bottom: 100px;
}

.bottomBannerImg {
  width: 96vw;
  height: 244px;
  object-fit: cover;
  z-index: -10;
}

.blur2 {
  position: absolute;
  width: 96vw;
  height: 244px;
  background: rgba(0, 0, 0, 0.45);
}

.bottomBannerTitle {
  position: absolute;
  width: 494px;
  height: 48px;
  margin: -210px 0 0 40px;

  font-family: "Inter_semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: white;
}

.bottomBannerDetail {
  position: absolute;
  width: 297px;
  height: 18px;
  margin: -150px 0 0 40px;
  font-family: "Inter_semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.donateBtn {
  position: absolute;
  width: 110px;
  height: 40px;
  margin: 170px 0 0 40px;
  z-index: 100;
  cursor: pointer;
}

/* ------------------ Mobile ------------------- */

.mainContainerMobile {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.bannerMobile {
  display: none;
}

.secondContainerMibile {
  display: flex;
  flex-direction: column;
}

.cardSubContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

.card {
  width: 264px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  border-radius: 15px;
  margin: 0 30px 30px 0;
}

.cardMobile {
  composes: card;
  /* width: 274px;
  height: 340px;
  margin: 0 20px 30px 20px; */

  width: 100%;
  height: 100%;
  padding: 15px;
  margin: 0 20px 30px 20px;
}

.section {
  width: 100vw;
  height: 10px;
  margin-left: -2vw;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #d9d9d991;
}

.rankingContainerMobile {
  padding: 0 20px 0 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.bottomBannerContainerMobile {
  display: none;
}

.cardTitleMobie {
  display: none;
}

.rankingTitleMobile {
  composes: rankingTitle;
  font-size: 23px;
}

.featureContainerMobile {
  margin: 0 0 2rem 0;
  padding: 0 20px 0 20px;
}

.featureNFTsContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

.featureTitleMobile {
  composes: featureTitle;
  font-size: 23px;
}

.cardMobileNFT {
  composes: cardMobile;
  height: 270px;
  width: 250px;
  margin: 20px 10px 0 10px;
}
