.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #e8f6f9;
  margin-left: -2vw;
  padding-top: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 60px 0 55px 0;
  width: 284px;
  height: 36px;
}

.connectWalletContainer {
  width: 330px;
  height: 70px;
}

.connectWallet {
  width: 330px;
  height: 48px;
  cursor: pointer;
  background: #ffefb4;
  border-radius: 3px;
}

.connectWalletTxt {
  font-family: "Inter_semibold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* identical to box height */
  color: #1d1d1b;
  text-align: center;
}

.connectWalletClicked {
  composes: connectWallet;
  background: #85cddd;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkIcon {
  width: 28px;
  height: 28px;
}

.labelTxt {
  width: 81px;
  height: 17px;
  margin-bottom: 12px;

  font-family: "Inter_black";
  font-style: normal;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}

.subContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
}
.addressTxt {
  font-family: "Inter_semibold";
  font-style: normal;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 5px;
  color: #888888;
}

.reconnectWallet {
  font-family: "Inter_black";
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  text-align: right;

  color: #888888;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.idContainer {
  display: flex;
  width: 330px;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 330px;
  height: 48px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 3px;
  padding-left: 5px;
  box-sizing: border-box;
  padding-left: 1rem;
}

.inputId {
  composes: input;
  width: 223px;
  height: 48px;
}

.checkOverlapBtn {
  width: 81px;
  height: 48px;
  cursor: pointer;
  background: #ffefb4;
  border-radius: 3px;

  font-family: "Inter_semibold";
  text-align: center;
  font-size: 13px;
  line-height: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
}

.inputLastName {
  composes: input;
  width: 82px;
  height: 49px;
}
.inputFirstName {
  composes: input;
  width: 220px;
  height: 49px;
}
.inputContainer {
  margin-top: 30px;
}

.registerBtn {
  margin-top: 80px;
  width: 330px;
  height: 49px;
  background: #1fa5c2;
  border-radius: 3px;
  cursor: pointer;

  font-family: "Inter_black";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.successModal {
  width: 281px;
  height: 267px;

  background: #ffffff;
  border-radius: 21px;
  box-shadow: 0 16px 16px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkCircle {
  width: 78px;
  height: 78px;
  margin-bottom: 20px;
}

.sucessTxt {
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 10px;

  color: #000000;
}
.homeBtn {
  width: 208px;
  height: 49px;

  background: #1fa5c2;
  border-radius: 6px;
  font-family: "Inter_regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  color: #ffffff;
}

/* Mobile */
.mainContainerM {
  composes: mainContainer;
  height: 100%;
}

.subContainerM {
  composes: subContainer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refresh {
  width: 11px;
  height: 11px;
  cursor: pointer;
  fill: #1fa5c2;
}
