@font-face {
  font-family: "Inter_regular";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_black";
  src: url("./assets/fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_medium";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_semibold";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Inter_regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Inter_regular";
}

button {
  all: unset;
}

input {
  all: unset;
}
